
@font-face {
  font-family: 'GEInspira';
  src: url('GEInspira.eot?#iefix') format('embedded-opentype'),  url('GEInspira.woff') format('woff'), url('GEInspira.ttf')  format('truetype'), url('GEInspira.svg#GEInspira') format('svg');
  font-weight: normal;
  font-style: normal;
}
